// colors
$primary-color: #fafafa;
$secondary-color: #f9f4ea;

// font sizes
$font-size-logo: 27px;
$font-size-xxl: 40px;
$font-size-xl: 35px;
$font-size-l: 30px;
$font-size-m: 25px;
$font-size-s: 22px;
$font-size-xs: 18px;

// letter spacing
$letter-spacing-xl: 2px;
$letter-spacing-l: 1.75px;
$letter-spacing-m: 1.5px;
$letter-spacing-s: 1.25px;

// font family
$primary-font: HelveticaNeue;
$secondary-font: HelveticaNeue-Thin;
