<img [src]="imgSrc" [alt]="name" />
<div class="information-container" [class.dish]="type === 'dish'">
  <span class="{{ size === 'big' ? 'big-title' : 'small-title' }} card-title">{{
    name
  }}</span>
  <span class="description">{{ description }}</span>
  <div *ngIf="type === 'dish'">
    <img
      *ngFor="let type of dishTypes"
      [src]="getSrc(type)"
      [alt]="type"
      class="type"
    />
    <div class="price-container">
      <div class="line"></div>
      <div class="price">₪{{ price }}</div>
      <div class="line"></div>
    </div>
  </div>
</div>
