<img
  [src]="data.imgUrl"
  [alt]="data.name"
  ngClass.gt-sm="desktop"
  [ngClass.lt-sm]="size === 'small' ? 'chef-image' : ''"
/>
<div
  class="information-container"
  [class.dish]="type === 'dish'"
  fxLayout="column"
  fxLayoutAlign="start center"
  ngClass.gt-sm="desktop"
>
  <span
    [ngClass]="size === 'big' ? 'big-title' : 'small-title'"
    class="card-title"
  >
    {{ data.name }}
  </span>
  <span *ngIf="isDescription(data)" class="description">
    {{ data.description }}
  </span>
  <div *ngIf="isDish(data)">
    <img
      *ngFor="let type of data.tags"
      [src]="getSrc(type)"
      [alt]="type"
      class="type"
    />
    <div class="price-container" fxLayoutAlign="center center">
      <div class="line"></div>
      <div class="price">₪ {{ data.price | number }}</div>
      <div class="line"></div>
    </div>
  </div>
</div>
