@use '../../../assets/styles/base';

:host {
  display: inline-block;
  background-color: base.$secondary-color;
  text-align: center;
  .chef-image {
    width: 155px;
  }
  img {
    width: 100%;
  }
  .information-container.desktop {
    max-width: 100%;
    .big-title {
      font-size: base.$font-size-xxl;
      letter-spacing: base.$letter-spacing-xl;
      margin-top: 15px;
    }
    .small-title {
      letter-spacing: base.$letter-spacing-xl;
      font-size: base.$font-size-l;
    }
    .description {
      font-size: 24px;
      margin-bottom: auto;
      letter-spacing: base.$letter-spacing-m;
      max-width: 290px;
    }
    .price-container {
      .line {
        width: 110px;
      }
    }
  }
  .information-container {
    max-width: 360px;
    height: 135px;
    .card-title {
      font-family: base.$secondary-font;
      font-weight: normal;
      max-width: 200px;
      text-align: center;
      padding-bottom: 10px;
    }
    .big-title {
      font-size: base.$font-size-m;
      letter-spacing: base.$letter-spacing-l;
      margin-top: 10px;
    }
    .small-title {
      letter-spacing: base.$letter-spacing-s;
      font-size: base.$font-size-m-xl;
      margin-top: 15px;
      max-width: 100px;
    }
    .description {
      font-size: 24px;
      margin-bottom: auto;
      letter-spacing: base.$letter-spacing-xs;
      font-size: base.$font-size-xs;
      max-width: 215px;
    }
    .type {
      width: 30px;
      height: 30px;
    }
    .price-container {
      margin: 10px;
      .line {
        border-top: 1px base.$border-color solid;
        width: 80px;
      }
      .price {
        margin: 10px;
        font-size: base.$font-size-m;
      }
    }
  }
  .dish {
    height: 290px;
  }
  .dish.desktop {
    height: 365px;
  }
}
