<img [src]="data.imgSrc" [alt]="data.name" />
<div class="information-container" [class.dish]="type === 'dish'">
  <span
    [ngClass]="size === 'big' ? 'big-title' : 'small-title'"
    class="card-title"
  >
    {{ data.name }}
  </span>
  <span *ngIf="isDescription(data)" class="description">{{
    data.description
  }}</span>
  <div *ngIf="isDish(data)">
    <img
      *ngFor="let type of data.types"
      [src]="getSrc(type)"
      [alt]="type"
      class="type"
    />
    <div class="price-container">
      <div class="line"></div>
      <div class="price">₪ {{ data.price | number }}</div>
      <div class="line"></div>
    </div>
  </div>
</div>
