@use '../../../assets/styles/base';

.desktop {
  margin: 0;
  span {
    margin: 37px 45px;
    font-size: base.$font-size-xs;
    letter-spacing: base.$letter-spacing-xs;
  }
}

footer {
  margin: 10px 0;
  span {
    margin: 10px;
    letter-spacing: base.$letter-spacing-m-s;
    font-size: base.$font-size-m-s;
  }
}
