@use '../../../../assets/styles/base';

.bg-img {
  background-image: url(../../../../assets/images/background.jpg);
  background-repeat: no-repeat;
  overflow: auto;
  .front {
    background-color: rgba(255, 255, 255, 0.88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 240px 330px;
    padding: 40px;
    span {
      font-size: base.$font-size-xl;
      max-width: 450px;
      text-align: center;
      letter-spacing: base.$letter-spacing-xl;
      padding-bottom: 18px;
    }
    .search-container {
      display: flex;
      border: 1px black solid;
      border-radius: 5px;
      width: 35vw;
      input {
        border: 0;
        font-size: base.$font-size-xs;
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        padding-left: 0;
        background: transparent;
        &::-webkit-input-placeholder {
          font-family: base.$primary-font;
          letter-spacing: base.$letter-spacing-l;
          font-size: base.$font-size-s;
        }
      }
      img {
        padding: 10px 15px;
      }
    }
  }
}
