@use '../../../../assets/styles/base';

:host {
  margin: 85px 170px;
  .card-container {
    width: 100%;
    .card {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    .dish-container {
      .restaurant-title {
        padding-bottom: 25px;
        font-size: base.$font-size-l;
        letter-spacing: base.$letter-spacing-l;
        font-family: base.$secondary-font;
      }
    }
  }
}
