@use '../../../../assets/styles/base';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 170px 85px;
  .title {
    font-size: base.$font-size-l;
    letter-spacing: base.$letter-spacing-s;
    padding: 40px;
  }
  .card-container {
    display: flex;
    .card {
      text-align: center;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    .dish-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      .restaurant-title {
        padding-bottom: 25px;
        font-size: base.$font-size-l;
        letter-spacing: base.$letter-spacing-l;
        font-family: base.$secondary-font;
      }
    }
  }
}
