@use '../../../assets/styles/base';

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 123px;
  .left-container {
    display: flex;
    align-items: center;
    .logo-container {
      display: flex;
      align-items: center;
      .name {
        font-size: base.$font-size-logo;
        letter-spacing: base.$letter-spacing-logo;
        margin: 0 10px;
      }
    }
    .link {
      text-decoration: none;
      color: inherit;
      font-size: base.$font-size-xs;
      font-weight: lighter;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .right-container {
    display: flex;
    align-items: center;
    .icon {
      &:not(:first-child) {
        margin-left: 25px;
      }
    }
  }
}
