@use '../../../assets/styles/base';

.header {
  padding: 15px 20px;
  .logo-container {
    display: none;
    .logo {
      display: none;
    }
  }
  .link {
    display: none;
  }
  .middle-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    .logo {
      width: 30px;
      height: 30px;
    }
  }
  .search-container {
    display: none;
  }
  .icon {
    width: 18px;
    height: 18px;
    &:not(:first-child) {
      margin-left: 25px;
    }
  }
}

.desktop {
  padding: 14px 123px;
  .left-container {
    .menu {
      display: none;
    }
    .logo-container {
      .name {
        font-size: base.$font-size-logo;
        letter-spacing: base.$letter-spacing-logo;
        margin: 0 10px;
      }
      .logo {
        display: block;
      }
    }
    .link {
      display: block;
      text-decoration: none;
      color: inherit;
      font-size: base.$font-size-xs;
      font-weight: lighter;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .middle-container {
    display: none;
  }
  .right-container {
    .search-container {
      display: block;
    }

    .search-icon {
      display: none;
    }
    .icon {
      width: 25px;
      height: 25px;
    }
  }
}
