@use '../../../assets/styles/base';

:host {
  padding: 14px 123px;
  .left-container {
    .logo-container {
      .name {
        font-size: base.$font-size-logo;
        letter-spacing: base.$letter-spacing-logo;
        margin: 0 10px;
      }
    }
    .link {
      text-decoration: none;
      color: inherit;
      font-size: base.$font-size-xs;
      font-weight: lighter;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .right-container {
    .icon {
      &:not(:first-child) {
        margin-left: 25px;
      }
    }
  }
}
