<div class="description-container">
  <span class="title">{{ "about us :" | uppercase }}</span>
  <div class="description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a lacus vel
    justo fermentum bibendum non eu ipsum. Cras porta malesuada eros, eget
    blandit turpis suscipit at. Vestibulum sed massa in magna sodales porta.
    Vivamus elit urna, dignissim a vestibulum. Lorem ipsum dolor sit amet,
    consectetur adipiscing elit. In a lacus vel justo fermentum bibendum no eu
    ipsum. Cras porta malesuada eros.
  </div>
  <div class="download-button-container">
    <div class="download-button">
      <img [src]="appStoreIconSrc" />
      <div class="download-text-container">
        <span class="download-text">Download on the</span>
        <span class="store-name">App Store</span>
      </div>
    </div>
    <div class="download-button">
      <img [src]="googlePlayIconSrc" />
      <div class="download-text-container">
        <span class="download-text">Get it on</span>
        <span class="store-name">Google Play</span>
      </div>
    </div>
  </div>
</div>
<div class="image-container">
  <img [src]="aboutLogoSrc" alt="epicure" />
</div>
