<div fxLayout="column" fxLayoutAlign="center center">
  <div>
    <label for="tables">Choose a table:</label>

    <select name="tables">
      <option value="chefs">Chefs</option>
      <option value="restaurants">Restaurants</option>
      <option value="dishes">Dishes</option>
    </select>
  </div>
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Chef</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr app-row-table *ngFor="let item of data" [item]="item"></tr>
    </tbody>
  </table>
  <div>
    <button>Add new restaurant</button>
  </div>
</div>
