<div fxLayout="column" fxLayoutAlign="center center">
  <table datatable class="row-border hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Chef</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- <td>
          <img [src]="item.imgUrl" [alt]="item.name" class="item-image" />
        </td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td><button>Edit</button></td>
        <td><button (click)="deleteItem(item._id)">Delete</button></td> -->
      <tr app-row-table *ngFor="let item of data" [item]="item"></tr>
    </tbody>
  </table>
  <div>
    <button>Add new restaurant</button>
  </div>
</div>
