<app-header></app-header>
<div class="bg-img">
  <div class="front">
    <span>Epicure works with the top chef restaurant in Tel Aviv</span>
    <div class="search-container">
      <img src="../../../assets/images/search-icon.svg" />
      <input placeholder="Search for restaurant cuisine, chef" />
    </div>
  </div>
</div>
<div class="popular-restaurants-container">
  <span class="title">{{
    "the popular restaurants in epicure :" | uppercase
  }}</span>
  <div class="restaurants-container">
    <app-item
      class="restaurant"
      type="restaurant"
      itemName="Claro"
      description="Ran Shmueli"
      imgSrc="../../assets/images/restaurants/claro.jpg"
    ></app-item>
    <app-item
      class="restaurant"
      type="restaurant"
      itemName="Lumina"
      description="Meir Adoni"
      imgSrc="../../assets/images/restaurants/mizlala-gret-mullet-fillet.jpg"
    ></app-item>
    <app-item
      class="restaurant"
      type="restaurant"
      itemName="Tiger Lilly"
      description="Yanir Green"
      imgSrc="../../assets/images/restaurants/tiger-lili.jpg"
    ></app-item>
  </div>
</div>
