<app-header></app-header>
<div class="bg-img">
  <div class="front">
    <span>Epicure works with the top chef restaurant in Tel Aviv</span>
    <div class="search-container">
      <img src="../../../assets/images/search-icon.svg" />
      <input placeholder="Search for restaurant cuisine, chef" />
    </div>
  </div>
</div>
<div class="display-items-container">
  <span class="title">{{
    "the popular restaurants in epicure :" | uppercase
  }}</span>
  <div class="items-container">
    <app-item
      class="item"
      type="restaurant"
      itemName="Claro"
      description="Ran Shmueli"
      imgSrc="../../assets/images/restaurants/claro.jpg"
    ></app-item>
    <app-item
      class="item"
      type="restaurant"
      itemName="Lumina"
      description="Meir Adoni"
      imgSrc="../../assets/images/restaurants/mizlala-gret-mullet-fillet.jpg"
    ></app-item>
    <app-item
      class="item"
      type="restaurant"
      itemName="Tiger Lilly"
      description="Yanir Green"
      imgSrc="../../assets/images/restaurants/tiger-lili.jpg"
    ></app-item>
  </div>
  <div class="show-more">
    <span>All Restaurants</span>
    <img
      src="../../../assets/images/all-restaurants-arrows.svg"
      alt="all restaurants"
    />
  </div>
</div>
<div class="display-items-container">
  <span class="title">{{ "signature dish of :" | uppercase }}</span>
  <div class="items-container">
    <div class="item dish-container">
      <span class="restaurant-title">Tiger Lilly</span>
      <app-item
        type="dish"
        itemName="Pad Ki Mao"
        description="Shrimps, Glass Noodles, Kemiri Nuts, Shallots, 
      Lemon Grass, Magic 
      Chili Brown Coconut"
        imgSrc="../../assets/images/dishes/pad-ki-mao.jpg"
        price="88"
      ></app-item>
    </div>
    <div class="item dish-container">
      <span class="restaurant-title">Kab Kem</span>
      <app-item
        type="dish"
        itemName="Garbanzo Frito"
        description="Polenta fingers, veal cheek,
      magic chili cured lemon
      cream, yellow laksa"
        imgSrc="../../assets/images/dishes/garbanzo.jpg"
        price="98"
      ></app-item>
    </div>
    <div class="item dish-container">
      <span class="restaurant-title">Popina</span>
      <app-item
        type="dish"
        itemName="Smoked Pizza"
        description='Basil dough, cashew "butter", demi-glace, bison & radish'
        imgSrc="../../assets/images/dishes/pizza.jpg"
        price="65"
      ></app-item>
    </div>
  </div>
</div>
<div class="display-icon-container">
  <span class="icon-container-title">{{
    "the meaning of our icons :" | uppercase
  }}</span>
  <div class="icon-container">
    <div class="icon">
      <img src="../../../assets/images/icons/spicy-icon.svg" />
      <span class="icon-title">Spicy</span>
    </div>
    <div class="icon">
      <img src="../../../assets/images/icons/vegetarian.svg" />
      <span class="icon-title">Vegitarian</span>
    </div>
    <div class="icon">
      <img src="../../../assets/images/icons/vegan-icon.svg" />
      <span class="icon-title">Vegan</span>
    </div>
  </div>
</div>
<div class="chef-container">
  <span class="chef-title">{{ "chef of the week :" | uppercase }}</span>
  <div class="chef-info-container">
    <div class="chef-img-container">
      <img src="../../../assets/images/untitled-1.jpg" alt="Yosi Shitrit" />
      <div>Yossi Shitrit</div>
    </div>
    <span class="chef-description"
      >Chef Yossi Shitrit has been living and breathing his culinary dreams for
      more than two decades, including running the kitchen in his first
      restaurant, the fondly-remembered Violet, located in Moshav Udim.
      Shitrit's creativity and culinary acumen born of long experience are
      expressed in the every detail of each and every dish.</span
    >
  </div>
</div>
