.bg-img {
  background-image: url(../../../assets/images/hero-picture.jpg);
  background-repeat: no-repeat;
  overflow: auto;
  .front {
    background-color: rgba(255, 255, 255, 0.88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 240px 330px;
    padding: 40px;
    span {
      font-size: 35px;
      max-width: 450px;
      text-align: center;
      letter-spacing: 2px;
    }
    .search-container {
      display: flex;
      border: 1px black solid;
      border-radius: 5px;
      width: 35vw;
      input {
        border: 0;
        font-size: 18px;
        box-sizing: border-box;
        width: 300px;
        padding: 10px;
        padding-left: 0;
        background: transparent;
      }
      img {
        padding: 10px 15px;
      }
    }
  }
}

.display-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  .title {
    font-size: 30px;
    letter-spacing: 1.25px;
    padding: 40px;
  }
  .items-container {
    display: flex;
    .item {
      text-align: center;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    .dish-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 654px;
      .restaurant-title {
        padding-bottom: 25px;
        font-size: 30px;
        letter-spacing: 1.75px;
        font-family: HelveticaNeue;
      }
    }
  }
}
