.bg-img {
  background-image: url(../../../assets/images/hero-picture.jpg);
  background-repeat: no-repeat;
  overflow: auto;
  .front {
    background-color: rgba(255, 255, 255, 0.88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 240px 330px;
    padding: 40px;
    span {
      font-size: 35px;
      max-width: 450px;
      text-align: center;
      letter-spacing: 2px;
    }
    .search-container {
      display: flex;
      border: 1px black solid;
      border-radius: 5px;
      width: 35vw;
      input {
        border: 0;
        font-size: 18px;
        box-sizing: border-box;
        width: 300px;
        padding: 10px;
        padding-left: 0;
        background: transparent;
      }
      img {
        padding: 10px 15px;
      }
    }
  }
}

.display-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin: 0 170px;
  .title {
    font-size: 30px;
    letter-spacing: 1.25px;
    padding: 40px;
  }
  .items-container {
    display: flex;
    .item {
      text-align: center;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    .dish-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 654px;
      .restaurant-title {
        padding-bottom: 25px;
        font-size: 30px;
        letter-spacing: 1.75px;
        font-family: HelveticaNeue;
      }
    }
  }
  .show-more {
    margin-top: 30px;
    align-self: flex-end;
    span {
      font-size: 30px;
      letter-spacing: 2px;
      margin-right: 13px;
    }
  }
}

.display-icon-container {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  .icon-container-title {
    font-size: 30px;
    letter-spacing: 2px;
  }
  .icon-container {
    display: flex;
    align-items: flex-end;
    .icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px;
      .icon-title {
        font-size: 25px;
        letter-spacing: 2px;
        margin-top: 30px;
      }
    }
  }
}

.chef-container {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .chef-title {
    font-size: 30px;
    letter-spacing: 2px;
    padding: 40px;
  }
  .chef-info-container {
    display: flex;
    .chef-img-container {
      position: relative;
      width: 430px;
      background-color: black;
      display: flex;
      justify-content: center;
      div {
        position: absolute;
        height: 78px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        letter-spacing: 1.5px;
        font-family: HelveticaNeue;
      }
    }
    .chef-description {
      max-width: 540px;
      text-align: justify;
      font-size: 25px;
      letter-spacing: 1px;
      margin-left: 70px;
    }
  }
}

.chef-restaurants-container {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  .chef-restaurants-title {
    font-size: 30px;
    padding-bottom: 30px;
    letter-spacing: 1.25px;
  }
  .chef-restaurant {
    font-size: 30px !important;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
