@use '../../../assets/styles/base';

:host ::ng-deep {
  border: 1px black solid;
  border-radius: 5px;
  padding-left: 5px;
  .big {
    width: 100%;
    background: transparent;
    &::-webkit-input-placeholder {
      letter-spacing: base.$letter-spacing-l;
      font-size: base.$font-size-s;
    }
  }
  .small {
    padding: 5px;
    &::-webkit-input-placeholder {
      letter-spacing: base.$letter-spacing-s;
      font-size: base.$font-size-xs;
    }
  }
  input {
    width: 330px;
    border: none;
    font-size: base.$font-size-xs;
    box-sizing: border-box;
    &::-webkit-input-placeholder {
      font-family: base.$primary-font;
    }
  }
  img {
    margin-right: 10px;
    padding: 5px;
  }
  .big-img {
    width: 31px;
    height: 31px;
    padding: 10px 15px;
  }
}
