@use '../../../assets/styles/base';

:host ::ng-deep {
  border: 1px black solid;
  border-radius: 5px;
  padding-left: 5px;
  .desktop-big {
    padding-bottom: 0 !important;
    &::-webkit-input-placeholder {
      letter-spacing: base.$letter-spacing-l !important;
      font-size: base.$font-size-s !important;
    }
  }
  .big {
    width: 100%;
    padding-bottom: 5px;
    &::-webkit-input-placeholder {
      letter-spacing: base.$letter-spacing-xs;
      font-size: base.$font-size-m-m;
    }
  }
  .small {
    padding: 5px;
    &::-webkit-input-placeholder {
      letter-spacing: base.$letter-spacing-s;
      font-size: base.$font-size-xs;
    }
  }
  input {
    width: 330px;
    border: none;
    box-sizing: border-box;
    background: transparent;
    font-size: base.$font-size-xs;
    &::-webkit-input-placeholder {
      font-family: base.$primary-font;
    }
  }
  img {
    margin-right: 10px;
    padding: 5px;
  }
  .big-img {
    width: 16px;
    height: 16px;
    padding: 9px;
    margin: 0;
  }
  .desktop-big-img {
    width: 31px;
    height: 31px;
    padding: 10px 15px;
  }
}
