@use '../../../../assets/styles/base';

.main-container.desktop {
  text-align: initial;
  .description-container {
    max-width: 570px;
    margin: 65px 180px 60px 0;
    .title {
      padding: 0;
      margin-bottom: 20px;
    }
    .description {
      margin: 20px 0;
      font-size: base.$font-size-s;
      letter-spacing: base.$letter-spacing-m;
    }
    .download-button-container {
      .download-button {
        padding: 0;
        width: 180px;
        .download-text-container {
          letter-spacing: base.$letter-spacing-s;
          .download-text {
            font-size: base.$font-size-store-s;
          }
          .store-name {
            font-size: base.$font-size-store-m;
          }
        }
        img {
          width: auto;
          height: auto;
          margin: 14px;
        }
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
    .image-container {
      display: none;
    }
  }
  .image-container-desktop {
    display: block;
    margin: 180px 0;
  }
}

.main-container {
  background-color: base.$primary-color;
  text-align: center;
  .description-container {
    margin-top: 25px;
    margin-bottom: 65px;
    .description {
      margin: 7px 35px;
      font-size: base.$font-size-m-title;
      letter-spacing: base.$letter-spacing-xs;
    }
    .download-button-container {
      .download-button {
        padding: 3px 0;
        border: 0.5px black solid;
        border-radius: 5px;
        width: 130px;
        .download-text-container {
          letter-spacing: base.$letter-spacing-xs;
          .download-text {
            font-size: base.$font-size-m-xs;
          }
          .store-name {
            font-size: base.$font-size-m-s;
          }
        }
        img {
          width: 15px;
          height: 15px;
          margin-right: 15px;
        }
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
    .image-container {
      margin: 35px;
      img {
        width: 135px;
        height: 130px;
      }
    }
  }
  .image-container-desktop {
    display: none;
  }
}
