@use '../../../../assets/styles/base';

:host {
  background-color: base.$primary-color;
  .description-container {
    max-width: 570px;
    margin: 65px 180px 60px 200px;
    .title {
      padding: 0;
      margin-bottom: 20px;
    }
    .description {
      margin: 20px 0;
      font-size: base.$font-size-s;
      letter-spacing: base.$letter-spacing-m;
    }
    .download-button-container {
      .download-button {
        border: 1px black solid;
        border-radius: 5px;
        width: 180px;
        .download-text-container {
          letter-spacing: base.$letter-spacing-s;
          .download-text {
            font-size: base.$font-size-store-s;
          }
          .store-name {
            font-size: base.$font-size-store-m;
          }
        }
        img {
          margin: 14px;
        }
        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }
  }
  .image-container {
    margin: 180px 0;
  }
}
