@use '../../../assets/styles/base';

:host {
  display: flex;
  justify-content: center;
  span {
    margin: 37px 45px;
    font-size: base.$font-size-xs;
    letter-spacing: base.$letter-spacing-xs;
  }
}
