<div class="left-container">
  <div class="logo-container">
    <img
      src="../../../assets/logo/logo.jpg"
      srcset="
        ../../../assets/logo/logo@2x.jpg 2x,
        ../../../assets/logo/logo@3x.jpg 3x
      "
      alt="logo"
      class="logo"
    />
    <span class="link name">EPICURE</span>
  </div>
  <a class="link" href="#">Restaurants</a>
  <a class="link" href="#">Chefs</a>
</div>
<div class="right-container">
  <div class="search-container">
    <input placeholder="Search for restaurant cuisine, chef" />
    <img class="icon" src="../../../assets/images/search-icon.svg" />
  </div>
  <img class="icon" src="../../../assets/images/user-icon.svg" />
  <img class="icon" src="../../../assets/images/bag-icon.svg" />
</div>
