@use '../../../../assets/styles/base';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 170px 0;
  .card-container {
    display: flex;
    .card {
      text-align: center;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    .dish-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 654px;
      .restaurant-title {
        padding-bottom: 25px;
        font-size: base.$font-size-l;
        letter-spacing: base.$letter-spacing-l;
        font-family: base.$secondary-font;
      }
    }
  }
  .show-more {
    margin-top: 30px;
    align-self: flex-end;
    span {
      font-size: base.$font-size-l;
      letter-spacing: base.$letter-spacing-xl;
      margin-right: 13px;
    }
  }
}
