@use '../../../../assets/styles/base';

:host {
  margin: 100px 170px 0;
  .card-container {
    width: 100%;
    height: 100%;
    .card {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  .show-more {
    margin-top: 30px;
    span {
      font-size: base.$font-size-l;
      letter-spacing: base.$letter-spacing-xl;
      margin-right: 13px;
    }
  }
}
