@use '../../../../assets/styles/base';

.bg-img {
  background-image: url(../../../../assets/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  overflow: auto;
  .front {
    background-color: rgba(255, 255, 255, 0.88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 240px 330px;
    padding: 40px;
    span {
      font-size: base.$font-size-xl;
      max-width: 450px;
      text-align: center;
      letter-spacing: base.$letter-spacing-xl;
      padding-bottom: 18px;
    }
    .search-container {
      width: 35vw;
    }
  }
}
