<div
  class="main-container"
  fxLayout="column"
  fxLayoutAlign="start center"
  ngClass.gt-sm="desktop"
>
  <span class="title" ngClass.gt-sm="desktop-title">
    {{ 'chef of the week :' | uppercase }}
  </span>
  <div
    class="info-container"
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="center"
  >
    <div class="img-container" fxLayoutAlign="center">
      <img [src]="data.imgUrl" [alt]="data.name" />
      <span fxLayoutAlign="center center">{{ data.name }}</span>
    </div>
    <span class="description">{{ data.description }}</span>
  </div>
</div>
<div class="restaurants-container" fxLayout="column" ngClass.gt-sm="desktop">
  <span class="restaurants-title"
    >{{ data.name | firstName }}'s restaurants :</span
  >
  <swiper class="card-container">
    <app-card
      size="small"
      class="restaurant"
      type="restaurant"
      *ngFor="let restaurant of data.restaurants"
      [data]="restaurant"
    ></app-card>
  </swiper>
</div>
