@use '../../../../assets/styles/base';

.main-container {
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    font-size: base.$font-size-l;
    letter-spacing: base.$letter-spacing-xl;
    padding: 40px;
  }
  .info-container {
    display: flex;
    .img-container {
      position: relative;
      width: 430px;
      background-color: black;
      display: flex;
      justify-content: center;
      div {
        position: absolute;
        height: 78px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: base.$font-size-xxl;
        letter-spacing: base.$letter-spacing-m;
        font-family: base.$secondary-font;
      }
    }
    .description {
      max-width: 540px;
      text-align: justify;
      font-size: base.$font-size-m;
      letter-spacing: base.$letter-spacing-xs;
      margin-left: 70px;
    }
  }
}

.restaurants-container {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  margin-bottom: 115px;
  .restaurants-title {
    font-size: base.$font-size-l;
    letter-spacing: base.$letter-spacing-s;
    padding-bottom: 30px;
  }
  .restaurant {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
