@use '../../../../assets/styles/base';

.main-container {
  padding: 60px;
  .info-container {
    .img-container {
      position: relative;
      width: 430px;
      background-color: black;
      span {
        position: absolute;
        height: 78px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.8);
        font-size: base.$font-size-xxl;
        letter-spacing: base.$letter-spacing-m;
        font-family: base.$secondary-font;
      }
    }
    .description {
      max-width: 540px;
      text-align: justify;
      font-size: base.$font-size-m;
      letter-spacing: base.$letter-spacing-xs;
      margin-left: 70px;
    }
  }
}

.restaurants-container {
  margin-left: 200px;
  margin-bottom: 115px;
  .restaurants-title {
    font-size: base.$font-size-l;
    letter-spacing: base.$letter-spacing-s;
    padding-bottom: 30px;
  }
  .card-container {
    width: 100%;
    max-width: 700px;
    .restaurant {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
