@use '../../../../assets/styles/base';

.container {
  padding: 40px;
  background-color: base.$primary-color;
  a {
    background-color: base.$route-buttons-color;
    font-size: base.$font-size-m-title;
    letter-spacing: base.$letter-spacing-xs;
    text-decoration: none;
    color: inherit;
    border: none;
    padding: 14px;
    &:not(:last-child) {
      margin-right: 17px;
    }
  }
}

.container.desktop {
  padding: 0;
  a {
    display: none;
  }
}
