@use './assets/styles/base';

/* You can add global styles to this file, and also import other style files */
body {
  font-family: base.$primary-font;
  margin: 0;
}

.title {
  font-size: base.$font-size-l;
  letter-spacing: base.$letter-spacing-xl;
  padding: 40px;
}
