@use '../../../../assets/styles/base';

:host {
  background-color: base.$primary-color;
  padding-bottom: 40px;
  .container {
    .icon {
      padding: 0 40px;
      .icon-title {
        font-size: base.$font-size-m;
        letter-spacing: base.$letter-spacing-xl;
        margin-top: 30px;
      }
    }
  }
}
